Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: GIT=true yarn docs:build, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/docs/**": ["GIT=true yarn docs:build"],
  "*.{ts,js,json,html,md}": ["eslint --fix", "prettier --write"]
}

Make test grouping more explicit
  src/diagrams/c4/parser/c4Person.spec.js
  src/diagrams/c4/parser/c4PersonExt.spec.js
Due: eslint --fix, prettier --write

Add test for alias
  src/diagrams/c4/parser/c4Person.spec.js
Due: eslint --fix, prettier --write

Introduce shape list in test
  src/diagrams/c4/parser/c4System.spec.js
Due: eslint --fix, prettier --write

Add test for label
  src/diagrams/c4/parser/c4Person.spec.js
Due: eslint --fix, prettier --write

Copy tests from Person to PersonExt
  src/diagrams/c4/parser/c4PersonExt.spec.js
Due: eslint --fix, prettier --write

Add test for structure of Person_Ext
  src/diagrams/c4/parser/c4PersonExt.spec.js
Due: eslint --fix, prettier --write

Add question on Person_Ext
  src/diagrams/c4/parser/c4PersonExt.spec.js
Due: eslint --fix, prettier --write

Add test for description
  src/diagrams/c4/parser/c4Person.spec.js
Due: eslint --fix, prettier --write

Add test for link to Person_Ext
  src/diagrams/c4/parser/c4PersonExt.spec.js
Due: eslint --fix, prettier --write

Test all different types of systems
  src/diagrams/c4/parser/c4System.spec.js
Due: eslint --fix, prettier --write

Add tests for other boundary properties
  src/diagrams/c4/parser/c4Boundary.spec.js
Due: eslint --fix, prettier --write

Add first test for Boundary
  src/diagrams/c4/parser/c4Boundary.spec.js
Due: eslint --fix, prettier --write

Build documentation
  docs/Setup.md
Due: eslint --fix, prettier --write

build: run `build:prod` on `yarn prepare`
  package.json
Due: eslint --fix, prettier --write

style: forbid using `console` in mermaid src code
  .eslintrc.json
  src/diagrams/git/gitGraphParserV2.spec.js
  src/diagrams/info/infoRenderer.js
Due: eslint --fix, prettier --write

refactor: remove `console.log` in c4Diagram.jison
  src/diagrams/c4/parser/c4Diagram.jison
Due: none

Fix lint issue
  docs/integrations.md
Due: eslint --fix, prettier --write

Add change in `src/docs`
  docs/Setup.md
  src/docs/integrations.md
Due: GIT=true yarn docs:build, eslint --fix, prettier --write

Fix XSS htmls
  cypress/platform/xss10.html
  cypress/platform/xss11.html
  cypress/platform/xss12.html
  cypress/platform/xss13.html
  cypress/platform/xss14.html
  cypress/platform/xss15.html
  cypress/platform/xss16.html
  cypress/platform/xss17.html
  cypress/platform/xss18.html
  cypress/platform/xss19.html
  cypress/platform/xss20.html
  cypress/platform/xss21.html
  cypress/platform/xss4.html
  cypress/platform/xss5.html
  cypress/platform/xss6.html
  cypress/platform/xss7.html
  cypress/platform/xss8.html
  cypress/platform/xss9.html
Due: eslint --fix, prettier --write

Fix mermaid code formatting in html
  docs/Setup.md
  docs/classDiagram.md
  docs/diagrams-and-syntax-and-examples/flowchart.md
  docs/flowchart.md
  docs/gantt.md
  docs/index.html
  docs/n00b-gettingStarted.md
  docs/n00b-overview.md
  docs/usage.md
  src/docs/Setup.md
  src/docs/classDiagram.md
  src/docs/diagrams-and-syntax-and-examples/flowchart.md
  src/docs/flowchart.md
  src/docs/gantt.md
  src/docs/index.html
  src/docs/n00b-gettingStarted.md
  src/docs/n00b-overview.md
  src/docs/usage.md
Due: GIT=true yarn docs:build, eslint --fix, prettier --write

Fix pre
  docs/n00b-gettingStarted.md
  docs/usage.md
Due: eslint --fix, prettier --write

chore: update browsers list
  yarn.lock
Due: none

Updated with cloud and bang shapes
  cypress/integration/rendering/mindmap.spec.js
  cypress/platform/knsv.html
  docs/mindmap.md
  src/diagram-api/detectType.js
  src/diagrams/mindmap/mindmapDb.js
  src/diagrams/mindmap/mindmapRenderer.js
  src/diagrams/mindmap/styles.js
  src/diagrams/mindmap/svgDraw.js
Due: eslint --fix, prettier --write

#3336 Merged typescript changes
  cypress/downloads/downloads.html
  cypress/platform/knsv.html
  docs/Setup.md
  src/config.type.ts
  src/diagram-api/diagram-orchestration.ts
  src/diagram-api/diagramAPI.spec.ts
  src/diagram-api/diagramAPI.ts
  src/diagrams/mindmap/mindmapDb.js
  src/diagrams/mindmap/mindmapDetector.old
  src/diagrams/mindmap/mindmapDetector.ts
  src/mermaid.ts
  src/styles.ts
Due: eslint --fix, prettier --write

Removing requirement to add ids for nodes with a shape
  cypress/platform/knsv.html
  src/diagrams/mindmap/mindmap.spec.js
  src/diagrams/mindmap/parser/mindmap.jison
Due: eslint --fix, prettier --write

Lint fixes
  cypress/downloads/downloads.html
  docs/Setup.md
  docs/index.html
  docs/mindmap.md
  src/diagram-api/diagram-orchestration.ts
  src/diagram-api/diagramAPI.ts
Due: eslint --fix, prettier --write

Build docs
  docs/CHANGELOG.md
  docs/Configuration.md
  docs/README.md
  docs/_navbar.md
  docs/accessibility.md
  docs/c4c.md
  docs/classDiagram.md
  docs/development.md
  docs/diagrams-and-syntax-and-examples/flowchart.md
  docs/directives.md
  docs/entityRelationshipDiagram.md
  docs/examples.md
  docs/flowchart.md
  docs/gantt.md
  docs/gitgraph.md
  docs/index.html
  docs/n00b-advanced.md
  docs/n00b-syntaxReference.md
  docs/newDiagram.md
  docs/pie.md
  docs/requirementDiagram.md
  docs/security.md
  docs/sequenceDiagram.md
  docs/stateDiagram.md
  docs/theming.md
  docs/usage.md
  src/docs/directives.md
  yarn.lock
Due: GIT=true yarn docs:build, eslint --fix, prettier --write

Update duplicate copy pasted directive description
  src/docs/directives.md
Due: GIT=true yarn docs:build, eslint --fix, prettier --write

Regenerate the directive docs as I changed them
  docs/directives.md
Due: eslint --fix, prettier --write

Update after lint comments
  docs/_sidebar.md
  docs/index.html
  src/diagram-api/diagram-orchestration.ts
  src/diagrams/mindmap/mindmap.spec.js
  src/diagrams/mindmap/mindmapDb.js
  src/diagrams/mindmap/mindmapRenderer.js
  src/diagrams/mindmap/svgDraw.js
  src/docs/_sidebar.md
  src/docs/mindmap.md
  src/setupGraphViewbox.js
  src/setupGraphViewbox.spec.js
  src/styles.ts
  src/utils.spec.js
  yarn.lock
Due: GIT=true yarn docs:build, eslint --fix, prettier --write

change references from /docs to /src/docs; rework doc section in CONTRIBUTING
  CONTRIBUTING.md
  docs/development.md
  docs/mindmap.md
  src/docs/development.md
  src/docs/mindmap.md
Due: GIT=true yarn docs:build, eslint --fix, prettier --write

unmangle sentence about doc changes committed and showing up on docsify site
  CONTRIBUTING.md
Due: eslint --fix, prettier --write

eslint (mostly use double quotes)
  src/docs.mts
Due: none

rename vars so intent is clearer, add doc, use constants
  src/docs.mts
Due: none

adjust console log message if only verifying, if copied actually happened
  src/docs.mts
Due: none

transform HTML (insert comment); add console msgs and clarify; add file doc
  src/docs.mts
Due: none
