Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn build:docs, yarn lint:fix

Update doc test
  src/docs/accessibility.md
Due: yarn build:docs, yarn lint:fix

Update doc test
  src/docs/development.md
Due: yarn build:docs, yarn lint:fix

Update doc test
  docs/development.md
Due: yarn lint:fix

Fail commit if docs changed
  src/docs.mts
Due: none

Add generated file to git
  src/docs.mts
Due: none

Fail commit if docs changed
  docs/development.md
  src/docs/development.md
Due: yarn build:docs, yarn lint:fix

Fix typo
  docs/accessibility.md
  src/docs/accessibility.md
Due: yarn build:docs, yarn lint:fix

Add verification for doc change
  .lintstagedrc.json
  package.json
  src/docs.mts
Due: yarn lint:fix

Turn off jsdoc warnings that were polluting logs
  .eslintrc.json
  package.json
  yarn.lock
Due: yarn lint:fix

Add doc verification to CI
  .github/workflows/lint.yml
Due: none

Test
  docs/usage.md
Due: yarn lint:fix

Fix double rendering in docsify
  docs/index.html
  docs/usage.md
  src/docs/index.html
Due: yarn build:docs, yarn lint:fix

Fix Doc
  docs/usage.md
Due: yarn lint:fix

Remove "Edit this page"
  docs/README.md
  docs/accessibility.md
  docs/c4c.md
  docs/directives.md
  docs/entityRelationshipDiagram.md
  docs/flowchart.md
  docs/gitgraph.md
  docs/sequenceDiagram.md
  docs/theming.md
  docs/usage.md
  src/docs/README.md
  src/docs/accessibility.md
  src/docs/c4c.md
  src/docs/directives.md
  src/docs/entityRelationshipDiagram.md
  src/docs/flowchart.md
  src/docs/gitgraph.md
  src/docs/sequenceDiagram.md
  src/docs/theming.md
  src/docs/usage.md
Due: yarn build:docs, yarn lint:fix

Fix edit page url
  docs/index.html
  src/docs/index.html
Due: yarn build:docs, yarn lint:fix

Fix lint staged
  .lintstagedrc.json
Due: yarn lint:fix

Prettier options
  src/docs.mts
Due: none

Strict prettierrc
  .prettierrc.json
Due: yarn lint:fix

Prettier
  src/__mocks__/mermaidAPI.ts
Due: none

Add dotfiles
  docs/.nojekyll
  src/docs.mts
Due: none

Prettier Pass
  .commitlintrc.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/stale.yml
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/codeql.yml
  .github/workflows/issue-triage.yml
  .github/workflows/lint.yml
  .github/workflows/release-preview-publish.yml
  .github/workflows/release-publish.yml
  .github/workflows/test.yml
  .github/workflows/unlock-reopened-issues.yml
  .prettierignore
  .tern-project
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  README.zh-CN.md
  cypress/.eslintrc.json
  cypress/support/eyes-index.d.ts
  package.json
Due: yarn lint:fix

Fix configuration doc
  docs/Configuration.md
  src/docs/Configuration.md
Due: yarn build:docs, yarn lint:fix

Add files only when running from lint-staged
  .lintstagedrc.json
  src/docs.mts
Due: yarn lint:fix

Fix doc
  docs/classDiagram.md
  src/docs/classDiagram.md
Due: yarn build:docs, yarn lint:fix

Fix typo in documentation
  src/mermaidAPI.ts
Due: none

Fix typo
  src/mermaidAPI.ts
Due: none

Add test for $link
  src/diagrams/c4/parser/c4Person.spec.js
Due: yarn lint:fix

Add test for $sprite
  src/diagrams/c4/parser/c4Person.spec.js
Due: yarn lint:fix

Add test for $tags
  src/diagrams/c4/parser/c4Person.spec.js
Due: yarn lint:fix

Move test for basic Person to separate file
  src/diagrams/c4/parser/c4Diagram.spec.js
  src/diagrams/c4/parser/c4Person.spec.js
Due: yarn lint:fix

Fix test and variable names that were copied from flowchart
  src/diagrams/c4/parser/c4Diagram.spec.js
Due: yarn lint:fix

Add tests for C4 System
  src/diagrams/c4/parser/c4System.spec.js
Due: yarn lint:fix

Path conditions:
  yarn build:docs: any of: src/docs/**
  yarn lint:fix: any of: *.{js,json,html,md}
