Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: ts-node-esm scripts/fixCSpell.ts, pnpm run lint:jison

Linters
  packages/mermaid/src/docs/.vitepress/theme/redirect.spec.ts
  run
Due: none

Update docs
  docs/community/contributing.md
Due: none

#3358 Adding support for style statements
  cypress/platform/knsv2.html
  packages/mermaid/src/diagrams/block/blockDB.ts
  packages/mermaid/src/diagrams/block/blockTypes.ts
  packages/mermaid/src/diagrams/block/parser/block.jison
  packages/mermaid/src/diagrams/block/renderHelpers.ts
  packages/mermaid/src/diagrams/flowchart/flowRenderer-v2.js
  packages/mermaid/src/mermaidAPI.ts
Due: pnpm run lint:jison

unit tests fixed
  packages/mermaid/src/diagrams/xychart/parser/xychart.jison.spec.ts
Due: none

formatting fixed
  demos/xychart.html
  packages/mermaid/src/diagrams/xychart/chartBuilder/components/plot/barPlot.ts
  packages/mermaid/src/diagrams/xychart/chartBuilder/components/plot/index.ts
  packages/mermaid/src/diagrams/xychart/parser/xychart.jison.spec.ts
  packages/mermaid/src/diagrams/xychart/xychartDb.ts
Due: none

Resolved issue with subgraph configuration
  demos/flowchart.html
  packages/mermaid/src/dagre-wrapper/index.js
Due: none

parser fixed for > 2 datasets some unit tests added
  demos/xychart.html
  packages/mermaid/src/diagrams/xychart/chartBuilder/components/plot/barPlot.ts
  packages/mermaid/src/diagrams/xychart/parser/xychart.jison
  packages/mermaid/src/diagrams/xychart/parser/xychart.jison.spec.ts
  packages/mermaid/src/diagrams/xychart/xychartDb.ts
Due: pnpm run lint:jison

Removed unnecessary function
  packages/mermaid/src/dagre-wrapper/index.js
Due: none

#3358 Support for adding tests and fixed issues for some shapes
  cypress/integration/rendering/block.spec.ts
  cypress/platform/knsv2.html
  packages/mermaid/src/diagrams/block/parser/block.jison
  packages/mermaid/src/diagrams/block/renderHelpers.ts
Due: pnpm run lint:jison

#3358 Fix for layout where a siebling has wider siize
  cypress/integration/rendering/block.spec.ts
  cypress/platform/knsv2.html
  packages/mermaid/src/diagrams/block/blockDB.ts
  packages/mermaid/src/diagrams/block/blockRenderer.ts
  packages/mermaid/src/diagrams/block/layout.ts
  packages/mermaid/src/diagrams/block/parser/block.jison
  packages/mermaid/src/diagrams/block/renderHelpers.ts
  packages/mermaid/src/diagrams/flowchart/elk/flowRenderer-elk.js
  packages/mermaid/src/diagrams/flowchart/flowRenderer-v2.js
  packages/mermaid/src/mermaidAPI.ts
Due: pnpm run lint:jison

#3358 Sieblinmg height alignment
  cypress/platform/knsv2.html
  packages/mermaid/src/diagrams/block/blockDB.ts
  packages/mermaid/src/diagrams/block/layout.ts
  packages/mermaid/src/diagrams/block/parser/block.jison
Due: pnpm run lint:jison

e2e tests added
  cypress/integration/rendering/xyChart.spec.js
Due: none

documentation updated
  docs/syntax/xyChart.md
  packages/mermaid/src/docs/syntax/xyChart.md
Due: none

Use JS for flowchart/styles
  packages/mermaid/src/diagrams/flowchart/styles.js
Due: none

adds corresponding change in docs/ecosystem
  docs/ecosystem/integrations-community.md
Due: none

chore: Minor cleanup of imperativeState
  packages/mermaid/src/utils/imperativeState.ts
Due: none

docs: Remove broken integration
  docs/ecosystem/integrations-community.md
  packages/mermaid/src/docs/ecosystem/integrations-community.md
Due: none

10.6.2-rc.3
  packages/mermaid/package.json
Due: none

v10.7.0
  packages/mermaid/package.json
Due: none

Update integrations-community.md (Add Codemia to the list of productivity tools using Mermaid.)
  cSpell.json
  docs/ecosystem/integrations-community.md
  packages/mermaid/src/docs/ecosystem/integrations-community.md
Due: ts-node-esm scripts/fixCSpell.ts

Updated gantt chart docs to show all config options
  docs/syntax/gantt.md
  packages/mermaid/src/docs/syntax/gantt.md
Due: none

Updated contributing docs after review, minor fixes
  packages/mermaid/src/docs/community/contributing.md
Due: none

Fixed dead link
  docs/intro/getting-started.md
  packages/mermaid/src/docs/.vitepress/theme/redirect.ts
  packages/mermaid/src/docs/intro/getting-started.md
Due: none

fix:styles can be in random order and are optional
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison.spec.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantBuilder.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDb.ts
Due: pnpm run lint:jison

update announcement bar
  packages/mermaid/src/docs/.vitepress/components/TopBar.vue
Due: none

add inadvertent tracking removal
  packages/mermaid/src/docs/.vitepress/components/TopBar.vue
Due: none

add: class names and class definitions|todo: tests
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison.spec.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantBuilder.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDb.ts
Due: pnpm run lint:jison

Fix pnpm-lock by resetting it, sorry!
  pnpm-lock.yaml
Due: none

review findings
  cypress/integration/rendering/xyChart.spec.js
  demos/xychart.html
  docs/syntax/xyChart.md
  packages/mermaid/src/diagrams/xychart/parser/xychart.jison
  packages/mermaid/src/diagrams/xychart/parser/xychart.jison.spec.ts
  packages/mermaid/src/diagrams/xychart/xychartDb.ts
  packages/mermaid/src/docs/syntax/xyChart.md
Due: pnpm run lint:jison

fix 0 values
  packages/mermaid/src/diagrams/xychart/chartBuilder/components/plot/barPlot.ts
Due: none

Removed volta requirement, leave pnpm only
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  packages/mermaid/src/docs/community/contributing.md
  run
Due: none

fix missing values
  demos/xychart.html
  packages/mermaid/src/diagrams/xychart/xychartDb.ts
Due: none

cypress tests
  cypress/integration/rendering/quadrantChart.spec.js
Due: none

Fix linters
  docker-compose.yml
Due: none

Remove npx completely from run script
  run
Due: none

Path conditions:
  ts-node-esm scripts/fixCSpell.ts: any of: cSpell.json
  pnpm run lint:jison: any of: **/*.jison
