Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: ts-node-esm scripts/fixCSpell.ts, pnpm run lint:jison

fix import issue
  cSpell.json
  packages/mermaid/src/diagrams/c4/svgDraw.js
  packages/mermaid/src/diagrams/common/svgDrawCommon.js
Due: ts-node-esm scripts/fixCSpell.ts

Fix path in test
  packages/mermaid/src/diagrams/class/classDiagramGrammar.spec.ts
Due: none

remove spellcheck warnings
  cSpell.json
Due: ts-node-esm scripts/fixCSpell.ts

Allow overlapping notes
  cSpell.json
  cypress/integration/rendering/sequencediagram.spec.js
  demos/sequence.html
  packages/mermaid/src/diagrams/common/common.ts
  packages/mermaid/src/diagrams/sequence/parser/sequenceDiagram.jison
  packages/mermaid/src/diagrams/sequence/sequenceDb.js
  packages/mermaid/src/diagrams/sequence/sequenceDiagram.spec.js
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
Due: ts-node-esm scripts/fixCSpell.ts, pnpm run lint:jison

restore path calculation for grammar test
  packages/mermaid/src/diagrams/class/classDiagramGrammar.spec.ts
Due: none

feat(katex): added common functions for aiding in KaTeX rendering
  docs/config/setup/modules/defaultConfig.md
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/common/common.ts
  packages/mermaid/src/diagrams/flowchart/flowRenderer-v2.js
  packages/mermaid/src/diagrams/flowchart/flowRenderer.js
Due: none

feat(katex): added KaTeX support to sequence diagrams
  demos/sequence.html
  packages/mermaid/src/diagrams/common/common.ts
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
  packages/mermaid/src/diagrams/sequence/svgDraw.js
Due: none

chore(katex): lint:fix
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/common/common.ts
  packages/mermaid/src/diagrams/flowchart/flowRenderer-v2.js
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
  packages/mermaid/src/diagrams/sequence/svgDraw.js
Due: none

Example diagram
  packages/mermaid/src/diagrams/swimlane/swimlane.mmd
Due: none

Adding ranking function and test
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/diagrams/flowchart/flowDb.js
  packages/mermaid/src/diagrams/flowchart/swimlane/detector.ts
  packages/mermaid/src/diagrams/flowchart/swimlane/setup-graph.js
  packages/mermaid/src/diagrams/flowchart/swimlane/swimlane-layout.js
  packages/mermaid/src/diagrams/flowchart/swimlane/swimlane-layout.spec.ts
  packages/mermaid/src/diagrams/flowchart/swimlane/swimlaneRenderer.js
Due: none

test: fix classDiagramGrammer unit test
  packages/mermaid/src/diagrams/class/classDiagramGrammar.spec.ts
Due: none

Add integrations
  cSpell.json
  docs/ecosystem/integrations.md
  packages/mermaid/src/docs/ecosystem/integrations.md
Due: ts-node-esm scripts/fixCSpell.ts

Fix missing `await` in usage document
  docs/config/usage.md
  packages/mermaid/src/docs/config/usage.md
Due: none

Updated url
  packages/mermaid/src/docs/news/announcements.md
Due: none

Updated url
  packages/mermaid/src/docs/news/blog.md
Due: none

Updated url
  docs/news/blog.md
Due: none

Updated url
  docs/news/announcements.md
Due: none

Replace esno & ts-node with tsx
  .lintstagedrc.mjs
  cSpell.json
  package.json
  packages/mermaid/package.json
  packages/mermaid/src/docs/package.json
  pnpm-lock.yaml
Due: ts-node-esm scripts/fixCSpell.ts

Update pnpm-lock
  pnpm-lock.yaml
Due: none

Fix build
  package.json
Due: none

Fix lockfile
  pnpm-lock.yaml
Due: none

[draft] Added support for quadrant chart
  demos/index.html
  demos/quadrantchart.html
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison
  packages/mermaid/src/diagrams/quadrant-chart/quadrantBuilder.js
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDb.js
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDetector.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDiagram.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantRenderer.js
  packages/mermaid/src/diagrams/quadrant-chart/styles.js
  packages/mermaid/src/themes/theme-base.js
  packages/mermaid/src/themes/theme-dark.js
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
  packages/mermaid/src/themes/theme-neutral.js
Due: pnpm run lint:jison

Revert "Replace esno & ts-node with tsx"
  .lintstagedrc.mjs
  package.json
  packages/mermaid/package.json
  packages/mermaid/src/docs/package.json
  pnpm-lock.yaml
Due: none

Debug fetch-contributors
  packages/mermaid/src/docs/.vitepress/scripts/fetch-contributors.ts
Due: none

Bump version
  packages/mermaid/package.json
Due: none

fix lint command
  .github/workflows/lint.yml
Due: none

Fix blog linting
  docs/news/blog.md
Due: none

Converted files to typescript and added proper types
  demos/quadrantchart.html
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison
  packages/mermaid/src/diagrams/quadrant-chart/quadrantBuilder.js
  packages/mermaid/src/diagrams/quadrant-chart/quadrantBuilder.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDb.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDiagram.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantRenderer.js
  packages/mermaid/src/diagrams/quadrant-chart/quadrantRenderer.ts
  packages/mermaid/src/diagrams/quadrant-chart/styles.js
  packages/mermaid/src/themes/theme-base.js
  packages/mermaid/src/themes/theme-dark.js
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
  packages/mermaid/src/themes/theme-neutral.js
Due: pnpm run lint:jison

Update docs
  docs/config/setup/modules/defaultConfig.md
Due: none

Update entityRelationshipDiagram.md
  packages/mermaid/src/docs/syntax/entityRelationshipDiagram.md
Due: none

Fixing import
  packages/mermaid/src/diagrams/flowchart/swimlane/swimlaneRenderer.js
Due: none

#2028 returning node coordinates from layout
  packages/mermaid/src/diagrams/flowchart/swimlane/swimlane-layout.js
  packages/mermaid/src/diagrams/flowchart/swimlane/swimlane-layout.spec.ts
Due: none

#2028 basic render
  cypress/platform/knsv2.html
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
  packages/mermaid/src/diagrams/flowchart/swimlane/swimlaneRenderer.js
Due: pnpm run lint:jison

Fixed review comment
  demos/quadrantchart.html
  docs/config/setup/modules/defaultConfig.md
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison
  packages/mermaid/src/diagrams/quadrant-chart/quadrantBuilder.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDb.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantRenderer.ts
  packages/mermaid/src/themes/theme-base.js
  packages/mermaid/src/themes/theme-dark.js
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
  packages/mermaid/src/themes/theme-neutral.js
Due: pnpm run lint:jison

Add linkStyle for flowchart on current connection
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
  pnpm-lock.yaml
Due: pnpm run lint:jison

Added test and documentation
  cypress/integration/rendering/flowchart.spec.js
  demos/flowchart.html
  docs/syntax/flowchart.md
  packages/mermaid/src/docs/syntax/flowchart.md
Due: none

Word corrections
  cypress/integration/rendering/flowchart.spec.js
  demos/flowchart.html
Due: none

Fixed some parser issue and added test cases for the parser
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison.spec.ts
Due: pnpm run lint:jison

Restructured the build function and addressed more review comment
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison
  packages/mermaid/src/diagrams/quadrant-chart/parser/quadrant.jison.spec.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantBuilder.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantDb.ts
  packages/mermaid/src/diagrams/quadrant-chart/quadrantRenderer.ts
  packages/mermaid/src/themes/theme-base.js
  packages/mermaid/src/themes/theme-dark.js
  packages/mermaid/src/themes/theme-default.js
  packages/mermaid/src/themes/theme-forest.js
  packages/mermaid/src/themes/theme-neutral.js
Due: pnpm run lint:jison

Path conditions:
  ts-node-esm scripts/fixCSpell.ts: any of: cSpell.json
  pnpm run lint:jison: any of: **/*.jison
