Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: ts-node-esm scripts/fixCSpell.ts, pnpm run lint:jison

.lintstagedrc.json:

{
  "!(docs/**/*)*.{ts,js,json,html,md,mts}": ["eslint --fix", "prettier --write"],
  "cSpell.json": ["ts-node-esm scripts/fixCSpell.ts"],
  "**/*.jison": ["pnpm run lint:jison"]
}

remove `customBuildTerminalTokens` and `customBuildKeywordTokens`
  packages/parser/src/language/info/infoTokenBuilder.ts
  packages/parser/src/language/journey/journeyTokenBuilder.ts
  packages/parser/src/language/pie/pieTokenBuilder.ts
  packages/parser/src/language/timeline/timelineTokenBuilder.ts
Due: none

Remove href state and give call higher precedence
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Add unit test for vertex and edge having both strings and text
  packages/mermaid/src/diagrams/flowchart/parser/flow-text.spec.js
Due: none

Corrects name of C4 link
  packages/mermaid/src/docs/.vitepress/config.ts
Due: none

bump `chevrotain` and `@chevrotain/types` versions to `v11.0.1`
  packages/parser/package.json
  pnpm-lock.yaml
Due: none

Refactor token precedence that concern vertex text states
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Refactor directive grammar to use name instead of position in production
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Refactor statement grammars to use name values instead of positions in production
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Refactor vertex grammars to use name values instead of position in production
  packages/mermaid/src/diagram.spec.ts
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

added Typora to integrations list
  cSpell.json
  docs/ecosystem/integrations.md
  packages/mermaid/src/docs/ecosystem/integrations.md
Due: ts-node-esm scripts/fixCSpell.ts

update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Change rest of grammar statements to use variable name instead of position
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Remove unused definitions
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Only allow quotes to wrap entire string
  packages/mermaid/src/diagrams/flowchart/parser/flow-text.spec.js
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Add unit tests for all cases of TEXT and STR combinations
  packages/mermaid/src/diagrams/flowchart/parser/flow-text.spec.js
Due: none

Allow escaped quotations in strings
  packages/mermaid/src/diagrams/flowchart/flowDb.js
  packages/mermaid/src/diagrams/flowchart/parser/flow-md-string.spec.js
  packages/mermaid/src/diagrams/flowchart/parser/flow-text.spec.js
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

update latest news section
  docs/news/announcements.md
  docs/news/blog.md
  packages/mermaid/src/docs/news/announcements.md
  packages/mermaid/src/docs/news/blog.md
Due: none

chore: Rename C4C to C4
  docs/syntax/c4.md
  packages/mermaid/src/docs/.vitepress/config.ts
  packages/mermaid/src/docs/.vitepress/theme/redirect.ts
  packages/mermaid/src/docs/syntax/c4.md
Due: none

Fix lint
  packages/mermaid/src/rendering-util/splitText.spec.ts
Due: none

Update docs
  docs/config/usage.md
Due: none

Remove redundant test. Already checked in lint.
  packages/mermaid/src/diagrams/class/classDiagramGrammar.spec.ts
Due: none

Update packages/mermaid/src/rendering-util/types.d.ts
  packages/mermaid/src/rendering-util/types.d.ts
Due: none

Add comments
  packages/mermaid/src/rendering-util/splitText.ts
Due: none

Updates after tests
  cypress/integration/rendering/flowchart-v2.spec.js
  cypress/platform/knsv2.html
  packages/mermaid-zenuml/package.json
  packages/mermaid/package.json
  packages/mermaid/src/diagrams/mindmap/parser/mindmap.jison
Due: pnpm run lint:jison

Add MERMAID_RELEASE_VERSION in sankey
  docs/config/usage.md
  docs/syntax/sankey.md
  packages/mermaid/src/docs/syntax/sankey.md
Due: none

Update lockfile
  pnpm-lock.yaml
Due: none

add latest blog post
  docs/news/announcements.md
  docs/news/blog.md
  packages/mermaid/src/docs/news/announcements.md
  packages/mermaid/src/docs/news/blog.md
Due: none

update `NEWLINE` terminal rule
  packages/parser/src/language/common/common.langium
Due: none

Correct classDef and class grammar
  cypress/integration/rendering/flowchart.spec.js
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Reimplement old alphaNumToken
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

fix: edgeLabel width
  packages/mermaid/src/rendering-util/createText.ts
Due: none

Update version
  packages/mermaid/package.json
Due: none

Add release version
  docs/syntax/gantt.md
  docs/syntax/gitgraph.md
  docs/syntax/sequenceDiagram.md
  packages/mermaid/src/docs/syntax/gantt.md
  packages/mermaid/src/docs/syntax/gitgraph.md
  packages/mermaid/src/docs/syntax/sequenceDiagram.md
Due: none

Set proper release version
  docs/syntax/gantt.md
  docs/syntax/gitgraph.md
  docs/syntax/sankey.md
  docs/syntax/sequenceDiagram.md
  packages/mermaid/src/docs/syntax/gantt.md
  packages/mermaid/src/docs/syntax/gitgraph.md
  packages/mermaid/src/docs/syntax/sankey.md
  packages/mermaid/src/docs/syntax/sequenceDiagram.md
Due: none

fix style in contributors section of intro
  docs/intro/index.md
  packages/mermaid/src/docs/intro/index.md
Due: none

Updates after testing and new version for mermaid-zenuml
  packages/mermaid-zenuml/package.json
  pnpm-lock.yaml
Due: none

use `MINDMAP_OUTDENT` same instance
  packages/parser/src/language/mindmap/mindmapLexer.ts
  packages/parser/src/language/mindmap/mindmapMatcher.ts
  packages/parser/src/language/mindmap/mindmapTokenBuilder.ts
Due: none

partially support `mindmap` diagram
  cSpell.json
  packages/parser/langium-config.json
  packages/parser/src/language/index.ts
  packages/parser/src/language/mermaid/mermaidModule.ts
  packages/parser/src/language/mermaid/mermaidServiceRegistry.ts
  packages/parser/src/language/mindmap/index.ts
  packages/parser/src/language/mindmap/mindmap.langium
  packages/parser/src/language/mindmap/mindmapLexer.ts
  packages/parser/src/language/mindmap/mindmapMatcher.ts
  packages/parser/src/language/mindmap/mindmapModule.ts
  packages/parser/src/language/mindmap/mindmapTokenBuilder.ts
  packages/parser/src/language/mindmap/mindmapUtil.ts
  packages/parser/src/language/mindmap/mindmapValueConverter.ts
  packages/parser/tests/mindmap.test.ts
  packages/parser/tests/test-utils.ts
Due: ts-node-esm scripts/fixCSpell.ts

use `createToken` for `MINDMAP_OUTDENT`
  packages/parser/src/language/mindmap/mindmapTokenBuilder.ts
Due: none
