Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: ts-node-esm scripts/fixCSpell.ts, pnpm run lint:jison

Add codecov to E2E
  .github/workflows/e2e.yml
Due: none

Add codecov to unit tests
  .github/workflows/test.yml
Due: none

Fix path name
  .github/workflows/e2e.yml
  package.json
Due: none

set normal mode for vitest coverage
  package.json
Due: none

Upload E2E
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Add codecov.yaml
  codecov.yaml
Due: none

change REAMDME.md coverage from coveralls into codecov
  README.md
  README.zh-CN.md
Due: none

chore: Run codecov based on E2E test status
  .github/workflows/e2e.yml
Due: none

move `PieDiagramConfig` into pieTypes
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/diagrams/pie/pieDb.ts
  packages/mermaid/src/diagrams/pie/pieTypes.ts
Due: none

Update `_id` to `id`
  packages/mermaid/src/diagrams/flowchart/flowDb.js
Due: none

Revert change to if
  packages/mermaid/src/diagrams/flowchart/flowDb.js
Due: none

Add E2E Fork
  .github/workflows/e2e-fork.yml
Due: none

Change run condition
  .github/workflows/e2e-fork.yml
  .github/workflows/e2e.yml
Due: none

Run cypress locally
  .github/workflows/e2e-fork.yml
Due: none

Update output format
  .github/workflows/e2e-fork.yml
Due: none

Disable fail-fast
  .github/workflows/e2e-fork.yml
Due: none

Skip build on install
  package.json
Due: none

Build before test
  .github/workflows/e2e-fork.yml
Due: none

Build after install
  .github/workflows/e2e-fork.yml
  package.json
Due: none

add D3Sections type with variable renaming
  packages/mermaid/src/diagrams/pie/pieRenderer.ts
  packages/mermaid/src/diagrams/pie/pieTypes.ts
Due: none

document pie useWidth and update other pie config attributes
  docs/config/setup/modules/defaultConfig.md
  packages/mermaid/src/defaultConfig.ts
Due: none

Desired syntax sankey
  packages/mermaid/src/sankey/parser/desired_syntax.md
Due: none

Ideas about sankey diagram syntax
  packages/mermaid/src/sankey/parser/desired syntax
Due: none

Desired sankey syntax
  packages/mermaid/src/sankey/parser/desired_syntax.md
Due: none

Picked state diagram as a sample for sankey
  __mocks__/sankeyRenderer.js
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/renderer.ts
  packages/mermaid/src/diagrams/sankey/sankeyDB.js
  packages/mermaid/src/diagrams/sankey/sankeyDetector.ts
  packages/mermaid/src/diagrams/sankey/sankeyDiagram.spec.js
  packages/mermaid/src/diagrams/sankey/sankeyDiagram.ts
  packages/mermaid/src/diagrams/sankey/sankeyRenderer.ts
  packages/mermaid/src/styles.spec.ts
Due: pnpm run lint:jison

Cleared sankey renderer
  cypress/integration/rendering/sankey.spec.js
  packages/mermaid/src/diagrams/sankey/parser/desired_syntax.md
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
  packages/mermaid/src/diagrams/sankey/sankeyDiagram.spec.js
  packages/mermaid/src/diagrams/sankey/sankeyDiagram.ts
  packages/mermaid/src/diagrams/sankey/sankeyRenderer.ts
Due: none

Stated sankey backbone
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagrams/sankey/db.js
  packages/mermaid/src/diagrams/sankey/detector.ts
  packages/mermaid/src/diagrams/sankey/parser/desired_syntax.md
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/renderer.ts
  packages/mermaid/src/diagrams/sankey/sankeyDiagram.ts
  packages/mermaid/src/diagrams/sankey/styles.js
Due: pnpm run lint:jison

Some fixes to docker and demos
  demos/sankey.html
  docker-compose.yml
  run
Due: none

Updated dockerfile
  docker-compose.yml
  run
Due: none

Started sankey syntax
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
Due: pnpm run lint:jison

Implementing new syntax
  packages/mermaid/src/diagrams/sankey/parser/desired_syntax.md
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
  run
Due: pnpm run lint:jison

Recognizing attributes
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
Due: pnpm run lint:jison

Recognizing attrubutes
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
Due: pnpm run lint:jison

Attributes within strings
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
Due: pnpm run lint:jison

Increased mem for lint, fixed spell checking, run lint
  cSpell.json
  docker-compose.yml
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagrams/sankey/parser/desired_syntax.md
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
  packages/mermaid/src/diagrams/sankey/sankeyDB.ts
  packages/mermaid/src/diagrams/sankey/sankeyDiagram.ts
  packages/mermaid/src/diagrams/sankey/sankeyRenderer.ts
Due: ts-node-esm scripts/fixCSpell.ts

Started renderer development
  demos/index.html
  demos/sankey.html
  packages/mermaid/src/diagrams/sankey/energy.csv
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/sankeyDB.js
  packages/mermaid/src/diagrams/sankey/sankeyDB.ts
  packages/mermaid/src/diagrams/sankey/sankeyRenderer.ts
Due: pnpm run lint:jison

Sankey stream is ending on node only
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
Due: pnpm run lint:jison

At last something is working
  demos/sankey.html
  docker-compose.yml
  package.json
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/diagrams/sankey/parser/sankey.jison
  packages/mermaid/src/diagrams/sankey/parser/sankey.spec.js
  packages/mermaid/src/diagrams/sankey/sankeyDB.ts
  packages/mermaid/src/diagrams/sankey/sankeyRenderer.ts
  run
Due: pnpm run lint:jison

Fixed nodes duplicates
  demos/sankey.html
  packages/mermaid/src/diagrams/sankey/sankeyDB.ts
  packages/mermaid/src/diagrams/sankey/sankeyRenderer.ts
Due: none

Fix errors
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/diagrams/sankey/sankeyRenderer.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  ts-node-esm scripts/fixCSpell.ts: any of: cSpell.json
  pnpm run lint:jison: any of: **/*.jison
