Repository mermaid-js/mermaid: changes, and which lint-staged commands are due for each by the changed paths.
All: ts-node-esm scripts/fixCSpell.ts, pnpm run lint:jison

Updated as per the suggestions from @weedySeaDragon
  docs/syntax/flowchart.md
  packages/mermaid/src/docs/syntax/flowchart.md
Due: none

Adjusted as per @ashishjain0512 review comments
  packages/mermaid-flowchart-v3/package.json
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

Cleanup, updating the module name and description for flowchart in package.json
  cypress/platform/knsv2.html
  packages/mermaid-flowchart-v3/package.json
  packages/mermaid-flowchart-v3/src/render-utils.js
  packages/mermaid-flowchart-v3/src/render-utils.spec.js
  pnpm-lock.yaml
Due: none

Sanitize text of the box
  packages/mermaid/src/diagrams/sequence/sequenceDb.js
Due: none

Update docs
  docs/config/setup/modules/mermaidAPI.md
Due: none

feat: Flowchart-elk integration
  .vite/build.ts
  cSpell.json
  cypress/integration/rendering/flowchart-elk.spec.js
  cypress/platform/knsv2.html
  packages/mermaid-flowchart-v3/package.json
  packages/mermaid-flowchart-v3/src/detector.ts
  packages/mermaid-flowchart-v3/src/diagram-definition.ts
  packages/mermaid-flowchart-v3/src/flowRenderer-v3.js
  packages/mermaid-flowchart-v3/src/mermaidUtils.ts
  packages/mermaid-flowchart-v3/src/render-utils.spec.js
  packages/mermaid/package.json
  packages/mermaid/src/diagram-api/detectType.ts
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagrams/flowchart/elk/detector.spec.ts
  packages/mermaid/src/diagrams/flowchart/elk/detector.ts
  packages/mermaid/src/diagrams/flowchart/elk/diagram-definition.ts
  packages/mermaid/src/diagrams/flowchart/elk/flowRenderer-elk.js
  packages/mermaid/src/diagrams/flowchart/elk/render-utils.spec.ts
  packages/mermaid/src/diagrams/flowchart/elk/render-utils.ts
  packages/mermaid/src/diagrams/flowchart/elk/styles.ts
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
  packages/mermaid/src/docs.spec.ts
  packages/mermaid/src/mermaid.ts
  pnpm-lock.yaml
Due: ts-node-esm scripts/fixCSpell.ts, pnpm run lint:jison

format
  cSpell.json
Due: ts-node-esm scripts/fixCSpell.ts

test: Update width
  cypress/integration/rendering/flowchart-elk.spec.js
Due: none

Updated vite.config.lib.js to use @vitejs/plugin-vue from vite-plugin-vue2.
  packages/mermaid-zenuml/zenuml/core/vite.config.lib.js
Due: none

chore(dev-deps): update vitest to `^0.27.1`
  package.json
  pnpm-lock.yaml
Due: none

test(docs): fix test failure due to bad merge
  packages/mermaid/src/docs.spec.ts
Due: none

test(sequenceDiagram): mock more d3 curve* types
  packages/mermaid/src/diagrams/sequence/sequenceDiagram.spec.js
Due: none

Fix: Too many `primaryBorderColor`
  packages/mermaid/src/docs/config/theming.md
Due: none

Update docs
  docs/config/theming.md
Due: none

docs(sequenceDiagram): subvert prettification of arrow types
  packages/mermaid/src/docs/syntax/sequenceDiagram.md
Due: none

handle string and number font size configurations
  packages/mermaid/src/diagrams/sequence/svgDraw.js
  packages/mermaid/src/diagrams/sequence/svgDraw.spec.js
  packages/mermaid/src/utils.spec.js
  packages/mermaid/src/utils.ts
Due: none

upload error snapshots
  .github/workflows/e2e.yml
Due: none

feat: Wait for rendering to finish before taking image snapshots
  cSpell.json
  cypress/helpers/util.js
  cypress/integration/rendering/mindmap.spec.ts
  cypress/platform/viewer.js
Due: ts-node-esm scripts/fixCSpell.ts

Fix title
  cypress/integration/rendering/flowchart-elk.spec.js
Due: none

fix tests
  cypress/platform/external-diagrams-mindmap.html
  cypress/platform/ghsa1.html
  cypress/platform/ghsa2.html
  cypress/platform/ghsa3.html
Due: none

Update docs
  docs/syntax/sequenceDiagram.md
Due: none

Use undefined instead of null
  .eslintrc.json
  packages/mermaid-example-diagram/src/mermaidUtils.ts
  packages/mermaid-mindmap/src/mindmapDb.js
  packages/mermaid-mindmap/src/svgDraw.js
  packages/mermaid/src/diagram-api/diagram-orchestration.ts
  packages/mermaid/src/diagrams/c4/c4Db.js
  packages/mermaid/src/diagrams/c4/c4Renderer.js
  packages/mermaid/src/diagrams/gantt/ganttDb.js
  packages/mermaid/src/diagrams/gantt/ganttDb.spec.ts
  packages/mermaid/src/diagrams/gantt/ganttRenderer.js
  packages/mermaid/src/diagrams/gantt/parser/gantt.spec.js
  packages/mermaid/src/diagrams/git/gitGraphAst.js
  packages/mermaid/src/diagrams/git/gitGraphParserV2.spec.js
  packages/mermaid/src/diagrams/git/mockDb.js
  packages/mermaid/src/diagrams/sequence/sequenceDb.js
  packages/mermaid/src/diagrams/sequence/sequenceRenderer.ts
  packages/mermaid/src/diagrams/sequence/svgDraw.js
  packages/mermaid/src/diagrams/state/stateDb.js
  packages/mermaid/src/mermaidAPI.spec.ts
  packages/mermaid/src/mermaidAPI.ts
  packages/mermaid/src/utils.ts
Due: none

use undefined not null
  packages/mermaid/src/diagrams/sequence/svgDraw.js
  packages/mermaid/src/utils.spec.js
  packages/mermaid/src/utils.ts
Due: none

flowchart-elk repro
  cypress/platform/sidv.html
Due: none

Update funding :)
  .github/FUNDING.yml
  cSpell.json
Due: ts-node-esm scripts/fixCSpell.ts

fix(#4003): Remove unhandled promises
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  cypress/platform/viewer.js
  package.json
  packages/mermaid/src/Diagram.ts
  packages/mermaid/src/diagrams/flowchart/elk/flowRenderer-elk.js
  packages/mermaid/src/docs.mts
  packages/mermaid/src/mermaid.ts
  pnpm-lock.yaml
  scripts/jison/lint.mts
  tests/webpack/src/index.js
  tsconfig.eslint.json
Due: none

fix package.json
  packages/mermaid-mindmap/package.json
Due: none

Update integrations.md
  packages/mermaid/src/docs/misc/integrations.md
Due: none

Add directive parsing functionality to timeline diagram
  cypress/platform/ashish2.html
  packages/mermaid-timeline/src/mermaidUtils.ts
  packages/mermaid-timeline/src/timelineDb.js
  packages/mermaid-timeline/src/timelineRenderer.ts
  packages/mermaid/src/config.type.ts
  packages/mermaid/src/defaultConfig.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/diagram-api/types.ts
  packages/mermaid/src/directiveUtils.ts
  packages/mermaid/src/mermaidAPI.ts
Due: none

Pushing fix for broken themeVariable functionality
  cypress/platform/ashish2.html
  packages/mermaid-timeline/src/mermaidUtils.ts
  packages/mermaid-timeline/src/svgDraw.js
  packages/mermaid-timeline/src/timelineDb.js
  packages/mermaid-timeline/src/timelineRenderer.ts
  packages/mermaid/src/diagram-api/diagramAPI.ts
  packages/mermaid/src/directiveUtils.ts
  packages/mermaid/src/docs/syntax/timeline.md
  packages/mermaid/src/themes/theme-default.js
Due: none

Updating version and clean up package.json
  packages/mermaid-timeline/package.json
Due: none

#4012 Handling rows with only spaces in them
  packages/mermaid-mindmap/src/mindmap.spec.js
  packages/mermaid-mindmap/src/parser/mindmap.jison
Due: pnpm run lint:jison

Remove old test cases
  packages/mermaid-timeline/src/parser/timeline.spec.js
  packages/mermaid-timeline/src/timelineDb.spec.js
Due: none

add backward arrow
  packages/mermaid/src/diagrams/flowchart/flowDb.js
  packages/mermaid/src/diagrams/flowchart/flowRenderer-v2.js
  packages/mermaid/src/diagrams/flowchart/parser/flow.jison
Due: pnpm run lint:jison

add unit tests for reverse arrows
  packages/mermaid/src/diagrams/flowchart/parser/flow-arrows.spec.js
Due: none

add reversed assertion to unit tests
  packages/mermaid/src/diagrams/flowchart/parser/flow-arrows.spec.js
Due: none

docs: minor fix on markdown
  packages/mermaid/README.zh-CN.md
Due: none

docs: minor fix on markdown in root folder
  README.zh-CN.md
Due: none

#4012 Allowing multiple lines before the mindmap statement
  packages/mermaid-mindmap/src/mindmap.spec.js
  packages/mermaid-mindmap/src/parser/mindmap.jison
Due: pnpm run lint:jison

#4012 Neater grammar for the rows before mindmap
  packages/mermaid-mindmap/src/mindmap.spec.js
  packages/mermaid-mindmap/src/parser/mindmap.jison
Due: pnpm run lint:jison

Path conditions:
  ts-node-esm scripts/fixCSpell.ts: any of: cSpell.json
  pnpm run lint:jison: any of: **/*.jison
